* {
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow:wght@400;700&display=swap') 
    margin: 0;
    padding: 0;
}

body {

    background-color: rgba(167, 145, 172, 0.549);
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}


.cabecalho {

    padding: 2% 0% 0% 90%;

}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.titulo-destaque {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
}

.texto {
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    line-height: 25px;
    position: absolute;
    margin-top: 5%;
    left: 0%;
    
}


.textotempero {

    width: 100%;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    left: 0%;
    position: absolute;
    top: 155%;
    color: rgb(95, 74, 10);
}

.textokid {
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    right: 3%;
    position: absolute;
    top: 45%;
    color: rgb(10, 74, 95);
}


.textosabor {
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    left: 0%;
    position: absolute;
    top: 244%;
    color: rgb(10, 95, 74);
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    display: block;
    flex-direction: column;
    margin: 0 auto;

}

.imagem1 {

    left: 10%;
    width: 491px;
    height: 482px;
    position: absolute;
    top: 168%;
}

.imagem2 {

    left: 45%;
    position: absolute;
    top: 165%;
    width: 257px;
    height: 273px;


}

.imagem3 {
    left: 65%;
    width: 491px;
    height: 482px;
    position: absolute;
    top: 168%;
}

.imagem4 {
    left: 45%;
    width: 250px;
    height: 260px;
    position: absolute;
    top: 202%;

}

.imagem5 {

    left: 25%;
    position: absolute;
    top: 50%;
    max-width: 45%;
    max-height: 45%;
    align-items: center;

}


 img {
    max-width: 100%;
    max-height: 100%;

}


.imagem6 {

    width: 257px;
    height: 273px;
    position: absolute;
    top: 255%;
    left: 10%;
}

.imagem7 {

    width: 257px;
    height: 273px;
    position: absolute;
    top: 255%;
    left: 30%;

}

.imagem8 {

    width: 257px;
    height: 273px;
    position: absolute;
    top: 255%;
    left: 70%;

}


.imagem9 {

    width: 257px;
    height: 273px;
    position: absolute;
    top: 255%;
    left: 49%;

}


footer {
    background-color: #48435afc;
    color: #fff;
    text-align: center;
    padding: 0.1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 200%;
}


.botao-navegacao img,
        .carrossel-container,
        .carrossel,
        .image,
        .button,
        .botao-navegacao {
        visibility: hidden;
}


@media screen and (max-width: 1020px) {
    .titulo-destaque {
        font-size: 1.0rem; /* Reduzindo o tamanho da fonte */
    }
    .texto {
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
        line-height: 20px; /* Reduzindo a altura da linha */
        margin-top: 15%;
    }
   
    .textotempero, .textokid, .textosabor, .imagem1, .imagem2, .imagem3, .imagem4, .imagem5, .imagem6,.imagem7, .imagem8, .imagem9{
    visibility: hidden;

    }
    .carrossel-container {
        position: relative;
        width: 70%;
        overflow: hidden;
        border-radius: 10px;
        padding-top: 70%;
        left: 15%;
    }
    
    /* Estilos para a faixa do carrossel */
    .carrossel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        
    }
    
    /* Ocultar a barra de rolagem do carrossel */
    .carrossel::-webkit-scrollbar {
        display: none;
    }
    
    /* Estilos para cada imagem dentro do carrossel */
    .carrossel .image {
        flex: 0 0 100%;
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .carrossel .image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }


    .botao-navegacao {
        background-color: transparent; /* Define o fundo transparente */
        border: none; /* Remove a borda */
        cursor: pointer; /* Altera o cursor ao passar por cima */
        padding: 0; /* Remove o preenchimento interno */
        visibility: visible;
        position: absolute; /* Use position: absolute para permitir o ajuste da posição */
    }
    
    .botao-navegacao img {
        width: 30%; /* Define a largura da imagem */
        height: auto; /* Define a altura da imagem */
        visibility: visible;
    }
    
    .botao-navegacao:focus {
        outline: none; /* Remove o contorno ao focar */
        visibility: visible;
    }
    
    /* Estilos para o botão anterior */
    .botao-anterior {
        transform: scaleX(-1); /* Espelha a imagem horizontalmente */
        visibility: visible;
        top: 65%; /* Ajuste a posição vertical */
        right: 80%; /* Ajuste a posição horizontal */
    }
    
    /* Estilos para o botão próximo */
    .botao-proximo {
        top: 64%; /* Ajuste a posição vertical */
        left: 80%; /* Ajuste a posição horizontal */
    }
    


@media screen and (max-width: 768px) {


    .textotempero, .textokid, .textosabor, .imagem1, .imagem2, .imagem3, .imagem4, .imagem5, .imagem6,.imagem7, .imagem8, .imagem9{
        visibility: hidden;}

    .cabecalho {
        padding: 4% 0% 0% 85%; /* Ajustando o preenchimento do cabeçalho */
    }
    .cabecalho__menu {
        flex-direction: column; /* Alterando para empilhar os itens do menu */
        gap: 20px; /* Reduzindo o espaço entre os itens */
    }
    .cabecalho__menu__link {
        font-size: 1.0rem; /* Reduzindo o tamanho da fonte do menu */
    }
    /* Outros ajustes necessários para telas menores */

    
.texto {
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
        line-height: 20px; /* Reduzindo a altura da linha */
        margin-top: 15%;
}


.carrossel-container {
    position: relative;
    visibility: visible;

}

.carrossel {
    display: flex;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
    scroll-snap-type: x mandatory; /* Cria pontos de parada ao rolar */
    visibility: visible;
    -webkit-overflow-scrolling: touch; /* Suaviza o scroll em dispositivos iOS */
}

.image {
    flex: 0 0 auto; /* Evita que as imagens sejam redimensionadas */
    scroll-snap-align: start; /* Define a posição de parada ao rolar */
    margin-right: 20px; /* Espaçamento entre as imagens */
    border-radius: 16px;
    visibility: visible;

}

.image img {
    max-width: 100%;
    max-height: 100%;
}
}

