* {
    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap') @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("imagens/670.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    position: fixed;
}

.cabecalho {
    padding: 2% 0% 0% 115%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(53, 21, 103);
    font-family: 'Space-Mono';
    text-decoration: none;
    border: 2px solid #dad4e8;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff;

}

.cabecalho__menu__link:hover {
    background-color: #dad4e8;
}




.apresentacao {
    padding: 8% 29%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 26px;
    font-family: 'Space-Mono';
    color: rgb(0, 0, 0);
}

.titulo-destaque {
    color: #1500b8;
}

.apresentacao__conteudo__texto {
    font-size: 18px;
    font-family: 'Space-Mono';
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {

    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #a37fff;
    width: 250px;
    text-align: center;
    border-radius: 18px;
    font-size: 15px;
    font-weight: 600;
    padding: 9px 4px 9px 4px;
    text-decoration: none;
    color: rgb(109, 34, 130);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);

}

.apresentacao__links__link:hover {
    background-color: #ded3f8;
}


.image img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.image {

    height: 400px;
    left: 50%;
    object-fit: cover;
    position: relative;
    top: 20px;
    width: 500px;
    border-radius: 90%;
}


@media (max-width: 1200px) {

    .cabecalho {
        padding: 5%;
        left: 35%;
        position: relative;
        z-index: 9999;


    }

    .cabecalho__menu {
        justify-content: center;

    }

    .apresentacao {
        flex-direction: column;
        left: 1%;
        position: relative;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links {
        margin-top: 70px;
        position: relative;

    }

    .apresentacao__links__link {
        padding: 2px 3px 7px 0px;


    }

    .image img {
        height: 0%;
        width: 0%;
        border-radius: 50%;
    }

    .image {

        left: 7%;
        object-fit: cover;
        position: fixed;
        top: 10px;
    }


}